#***REMOVED***Default***REMOVED***ignored***REMOVED***files
/shelf/
/workspace.xml
#***REMOVED***Editor-based***REMOVED***HTTP***REMOVED***Client***REMOVED***requests
/httpRequests/
#***REMOVED***Datasource***REMOVED***local***REMOVED***storage***REMOVED***ignored***REMOVED***files
/dataSources/
/dataSources.local.xml
